div(ng-class="tribeList.styles.className")
    div(ng-show="tribeList.tribes")
        tribecard(ng-repeat='tribe in tribeList.tribes' tribe="tribe")
    div
        a(type="button" id="new-tribe-button" class="super green button" href="/new-tribe") Add a new tribe!