span(class="player")
   img(ng-src="{{player | gravatarUrl:{size:size} }}" class="player-icon" width="{{size}}" height="{{size}}")
   div(class="player-header" ng-click="clickPlayerName($event)")
      text(ng-hide="player._id") NEW:
      text {{player.name}}