div
    div(id="tribe-browser")
        tribecard
        div
            a(id="tribe-select-button" class="large gray button" href="/tribes")
                i(class="fa fa-arrow-circle-up")
                text(class="icon-button-text") Tribe select
    div(ng-cloak class="current pair-assignments")
        div(class="no-pairs-notice" ng-hide="currentPairAssignments") No pair assignments yet!
        div(ng-show="currentPairAssignments")
            div(class="pair-assignments-header")
                text Couples for {{currentPairAssignments.date | date:'MM/dd/yyyy'}} - {{currentPairAssignments.date | date: 'HH:mm:ss'}}
        div(id="pair-assignments-content")
            span(ng-repeat='pair in currentPairAssignments.pairs' class="pair")
                playercard(ng-controller="SelectedPlayerCardController" ng-repeat='player in pair' ng-class="{hoverzoom: !currentPairAssignments._id}" ui-draggable="!currentPairAssignments._id" drag="player" ui-on-Drop="onDrop($event,$data,player)")
        div(ng-show="currentPairAssignments")
            a(id="save-button" class="super green button" ng-click="save()" ng-hide="currentPairAssignments._id") Save!
        a(id="new-pairs-button" class="large pink button" href="/{{tribe._id}}/prepare/") Prepare to spin!
        a(id="view-history-button" class="large blue button" href="/{{tribe._id}}/history/") View history!
div(class="player-roster")
    div
        div(class="roster-header")
            text(ng-show="unpairedPlayers[0]") Unpaired players:
        selectedplayercard(ng-repeat="player in unpairedPlayers")
    a(id="add-player-button" class="large orange button" href="/{{tribe._id}}/player/new/") Add a new player!