div
    tribecard
    div(ng-cloak class="current pair-assignments" ng-show="currentPairAssignments")
        div
            a(id="save-button" class="super green button" ng-click="save()" ng-hide="currentPairAssignments._id") Save!
            div(class="pair-assignments-header")
                text Couples for {{currentPairAssignments.date | date:'MM/dd/yyyy'}} - {{currentPairAssignments.date | date: 'HH:mm:ss'}}
        div(id="pair-assignments-content")
            span(ng-repeat='pair in currentPairAssignments.pairs' class="pair")
                span(ng-repeat='player in pair' class="player" ng-class="{hoverzoom: !currentPairAssignments._id}" ui-draggable="!currentPairAssignments._id" drag="player" ui-on-Drop="onDrop($event,$data,player)")
                    img(ng-src="{{player | gravatarUrl:{size:75} }}" width="75" height="75")
                    div(class="player-header") {{player.name}}
    div(ng-cloak class="current pair-assignments" ng-hide="currentPairAssignments") No pair assignments yet!

div(class="player-roster")
    div
        div(class="roster-header") Players:
    a(id="add-player-button" class="large orange button" href="/{{tribe._id}}/player/new/") Add a new player!
