div(class="pin-list-frame")
    div(id="pin-listing")
        span(ng-repeat='pin in pins' class="pin")
            i(class="pin-icon fa fa-fw {{pin.icon}} fa-2x")
            input(type="text" ng-model="pin.name")
            input(type="text" ng-model="pin.icon")