h2 Player
span(class="player")
    h4(ng-hide="player._id") NEW!
    img(ng-src="{{player.email | gravatarUrl}}" gravatar-size="100" class="player-icon")
    form
        div
            label(for="player-name") Name:
            input(id="player-name" type="text" ng-model="player.name")
        div
            label(for="player-email") Email:
            input(id="player-email" type="text" ng-model="player.email")
        input(type="button" class="large blue button" ng-click="savePlayer()" tabIndex="0" value="Save")