span(id="player-view" class="player")
    h2
        text(ng-hide="player._id") NEW -
        text {{player.name}}
    img(ng-src="{{player | gravatarUrl:{size:125} }}" class="player-icon" width="125" height="125")
    form
        div
            label(for="player-name") Name:
            input(id="player-name" type="text" ng-model="player.name")
        div
            label(for="player-email") Email:
            input(id="player-email" type="text" ng-model="player.email")
        input(type="button" class="large blue button" ng-click="savePlayer()" tabIndex="0" value="Save")