div
    div(id="tribe-browser")
        tribecard
    div(class="player-roster")
        div
            div
                a(id="spin-button" class="super pink button" ng-click="clickSpinButton()") Spin!
            span(ng-repeat="player in players" ng-controller="SelectedPlayerCardController" class="player" ng-class="{disabled:!player.isAvailable}" ng-click="clickPlayerCard()")
                img(ng-src="{{player | gravatarUrl:{size:100} }}" class="player-icon" width="100" height="100")
                div(class="player-header")
                    text {{player.name}}