test-output/*
version.json
.idea/workspace.xml
Coupling.iws
.DS_Store
public/stylesheets/*.css
node_modules/**/bson/build/*
node_modules/**/Release/*
node_modules/**/kerberos/build/*
node_modules/**/fsevents/build/*
node_modules/**/ws/build/*
**/*.node
**/*.a
**/*.o
**/*.dylib
**/*.gypi
**/*.log
node_modules/karma-phantomjs-launcher/node_modules/phantomjs/lib/location.js