test-output/*
version.json
.idea/workspace.xml
Coupling.iws
.DS_Store
public/stylesheets/*.css
node_modules
**/*.node
**/*.a
**/*.o
**/*.dylib
**/*.gypi
**/*.log
public/app/main.js
public/app/main.js.map
typings
screenshots
