localhost {
    reverse_proxy serverless:3000
}

static.localhost {
    root * /client/build/dist/js/productionExecutable
    file_server browse
    header Access-Control-Allow-Origin "https://localhost"
}

cli.localhost {
    root * /cli/build/distributions
    file_server browse
    header Access-Control-Allow-Origin "https://localhost"
}

socket.localhost {
    reverse_proxy serverless:3001
}
