localhost {
    reverse_proxy host.docker.internal:3000
}

static.localhost {
    root * /client/build/distributions
    file_server browse
}

socket.localhost {
    reverse_proxy host.docker.internal:3001
}
