:local(.className) {
    display: inline-block;
    text-align: left;
}

:local(.pairReport) {
    border: 2px solid #ffffe6;
    border-radius: 5px;
    background: #ffffe6;
    margin: 2px;
}

:local(.playerCard) {
    display: inline-block;
}

:local(.pairStatistics) {
    display: inline-block;
    vertical-align: top;
    margin: 8px;
}
