:local(.className) {
    text-align: left;
    display: inline-block;
    background: #dcd9d9;
    padding: 0 25px 25px 25px;
    min-height: 100vh;
    border: 12px solid #e8e8e8;
    border-top: 2px;
    border-bottom: 2px;
    border-radius: 82px;
}

:local(.leftSection) {
    display: inline-block;
    vertical-align: top;
}
