extends layout

block content
    div(id="top-section")
        span(id="CouplingTitleBlock")
            div(class="title")= title
            p Welcome to #{title}.
            span(ng-show="data.selectedTribeId")
                a(href="/{{data.selectedTribeId}}/pairAssignments/current")
                    p Check out the current pairs!
                a(href="/tribes")
                    p Browse the tribes available!
                a(type="button" class="super pink button" ng-click="spin()") Spin!
        span(class="view-container")
            div(ng-view id="main-view" class="view-frame" autoscroll)
    div(ng-cloak class="player-roster" ng-show="data.players")
        div(class="roster-header" ng-click="showOrHidePlayers()") Players:
        div(class="player-listing" ng-hide="showPlayers")
            span(ng-repeat="player in data.players" class="player" ng-class="{disabled:deselectionMap[player._id]}" ng-click="flipSelection(player)")
                img(ng-src="{{player | gravatarUrl:{size:100} }}" class="player-icon" width="100" height="100")
                h4(ng-click="viewPlayer(player._id, $event)") {{player.name}}
        div
            a(type="button" class="large orange button" href="/{{data.selectedTribeId}}/player/new/") Add a new player!