extends layout

block content
    h1= title
    p Welcome to #{title}.

    input(type="button" ng-click="spin()", value="Spin!")
    div(ng-cloak)
        h2 Players:
        div(ng-repeat="player in players") Name: {{player.name}}
            input(type="checkbox" value="{{player.name}}" ng-model="selectionMap[player._id]")
    div(ng-view)