extends layout

block content
    div(id="CouplingTitleBlock")
        h1= title
        p Welcome to #{title}.

        a(type="button" class="super pink button" ng-click="spin()") Spin!
    div(class="view-container")
        div(ng-view id="main-view" class="view-frame")
    div(ng-cloak class="player-roster")
        h2 Players:
        span(ng-repeat="player in players" class="player" ng-class="{disabled:!selectionMap[player._id]}" ng-click="selectionMap[player._id] = !selectionMap[player._id]")
            img(gravatar-src="'{{player.email}}'" gravatar-size="100" class="player-icon")
            h4(ng-click="viewPlayer(player._id, $event)") {{player.name}}
            div