doctype html
html(ng-app="coupling")
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/animations.css')
        // bower:js
        script(src='/javascripts/bower_components/jquery/dist/jquery.js')
        script(src='/javascripts/bower_components/angular/angular.js')
        script(src='/javascripts/bower_components/angular-animate/angular-animate.js')
        script(src='/javascripts/bower_components/angular-gravatar/build/md5.js')
        script(src='/javascripts/bower_components/angular-gravatar/build/angular-gravatar.js')
        script(src='/javascripts/bower_components/angular-mocks/angular-mocks.js')
        script(src='/javascripts/bower_components/angular-route/angular-route.js')
        script(src='/javascripts/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/javascripts/bower_components/underscore/underscore.js')
        // endbower
        script(src="/javascripts/prefixfree.min.js",type="application/javascript")
        script(src="/javascripts/draganddrop.js",type="application/javascript")
        script(src="/app/app.js",type="application/javascript")
        script(src="/app/services.js",type="application/javascript")
        script(src="/app/controllers.js",type="application/javascript")
        script(src="/app/animations.js",type="application/javascript")
        script(src="/app/filters.js",type="application/javascript")
        meta(name="viewport" content="width=device-width")
    block content