doctype html
html(ng-app="coupling")
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/animations.css')

        // bower:css
        link(rel='stylesheet', href='/javascripts/bower_components/fontawesome/css/font-awesome.css')
        // endbower

        // bower:js
        script(src='/javascripts/bower_components/angular/angular.js')
        script(src='/javascripts/bower_components/angular-animate/angular-animate.js')
        script(src='/javascripts/bower_components/angular-gravatar/build/angular-gravatar.js')
        script(src='/javascripts/bower_components/angular-route/angular-route.js')
        script(src='/javascripts/bower_components/underscore/underscore.js')
        script(src='/javascripts/bower_components/prefixfree/prefixfree.min.js')
        script(src='/javascripts/bower_components/angular-native-dragdrop/draganddrop.js')
        script(src='/javascripts/bower_components/rsvp/rsvp.js')
        script(src='/javascripts/bower_components/ngFitText/src/ng-FitText.js')
        script(src='/javascripts/bower_components/angular-resource/angular-resource.js')
        // endbower

        script(src="/app/app.js",type="application/javascript")
        script(src="/app/services.js",type="application/javascript")
        script(src="/app/controllers.js",type="application/javascript")
        script(src="/app/animations.js",type="application/javascript")
        script(src="/app/filters.js",type="application/javascript")
        script(src="/app/components/player-card/selected-player-card.js",type="application/javascript")
        script(src="/app/components/tribe-card/tribe-card.js",type="application/javascript")
        script(src="/app/components/tribe-list/tribe-list.js",type="application/javascript")
        script(src="/app/components/welcome/welcome.js",type="application/javascript")
        meta(name="viewport" content="width=device-width")

        script var iosDragDropShim = {enableEnterLeave: true};
        script(src="/javascripts/ios-drag-drop.js")
    block content