doctype html
html(ng-app="coupling")
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/animations.css')
        script(src="/javascripts/bower_components/angular/angular.min.js",type="application/javascript")
        script(src="/javascripts/bower_components/angular-route/angular-route.min.js",type="application/javascript")
        script(src="/javascripts/bower_components/underscore/underscore.js",type="application/javascript")
        script(src="/javascripts/bower_components/angular-gravatar/build/angular-gravatar.js",type="application/javascript")
        script(src="/javascripts/bower_components/angular-gravatar/build/md5.js",type="application/javascript")
        script(src="/javascripts/bower_components/angular-animate/angular-animate.min.js",type="application/javascript")
        script(src="/javascripts/prefixfree.min.js",type="application/javascript")
        script(src="/javascripts/draganddrop.js",type="application/javascript")
        script(src="/app/app.js",type="application/javascript")
        script(src="/app/services.js",type="application/javascript")
        script(src="/app/controllers.js",type="application/javascript")
        script(src="/app/animations.js",type="application/javascript")
        script(src="/app/filters.js",type="application/javascript")
    body(ng-controller="CouplingController")
        block content