doctype html
html(ng-app="coupling")
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/animations.css')

        script(src="/app/main.js",type="application/javascript")
        meta(name="viewport" content="width=device-width")

        script var iosDragDropShim = {enableEnterLeave: true};
        script(src="/javascripts/ios-drag-drop.js")
    block content