doctype html
html(ng-app="coupling")
    head
        title= title
        link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
        link(rel='stylesheet', href='/app/build/vendor/vendor-styles.css')
        link(rel='stylesheet', href='/app/build/styles.css')

        script(src="/app/build/vendor/vendor.js", type="application/javascript")
        script(src="/app/build/main.js",type="application/javascript")
        meta(name="viewport" content="width=device-width")

        script var iosDragDropShim = {enableEnterLeave: true};
        script(src="/javascripts/ios-drag-drop.js")
        script(src="https://apis.google.com/js/platform.js" async defer)

    block content
