extends layout
block content
   body(ng-controller="WelcomeController")
         div(id="welcome-container" ng-show="show")
            span(id="welcome")
               div(class="welcome-title") Coupling!
               div
                  span(class="player left" ng-show="show")
                     img(ng-src="/images/icons/players/frodo-icon.png" class="player-icon" width="100" height="100")
                     div(class="player-header") Frodo
                  span(class="player right" ng-show="show")
                     img(ng-src="/images/icons/players/samwise-icon.png" class="player-icon" width="100" height="100")
                     div(class="player-header") Sam
               div(class="welcome-proverb" ng-show="show") Together, climb mountains.
            div
               div(id="enter-button-container")
                  a(id="enter-button" href="/auth/google" class="super pink button") Come on in!
