extends layout
block content
   body(ng-controller="WelcomeController" id="welcome-body")
         div(id="welcome-container" ng-show="show")
            div
               div
                  span(id="welcome")
                     div(class="welcome-title") Coupling!
                     div
                        span(class="player left" ng-show="show")
                           img(ng-src="/images/icons/players/{{leftCard.imagePath}}" class="player-icon" width="100" height="100")
                           div(class="player-header") {{leftCard.name}}
                        span(class="player right" ng-show="show")
                           img(ng-src="/images/icons/players/{{rightCard.imagePath}}" class="player-icon" width="100" height="100")
                           div(class="player-header") {{rightCard.name}}
                     div(class="welcome-proverb" ng-show="show") {{proverb}}
               div
                  div(id="enter-button-container")
                     a(id="enter-button" href="/auth/google" class="super pink button") Come on in!
