:local(.popper) {
    background: #333;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 24px;
    border-radius: 20px;
    width: 400px;
    z-index: 200;
}

:local(.popper) h2 {
    font-size: 30px;
}

:local(.arrow),
:local(.arrow)::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
}

:local(.arrow) {
    visibility: hidden;
}

:local(.arrow)::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
    top: 0;
    left: 0;
}

:local(.popper)[data-popper-placement^='top'] > :local(.arrow) {
    bottom: -4px;
}

:local(.popper)[data-popper-placement^='bottom'] > :local(.arrow) {
    top: -4px;
}

:local(.popper)[data-popper-placement^='left'] > :local(.arrow) {
    right: -4px;
}

:local(.popper)[data-popper-placement^='right'] > :local(.arrow) {
    left: -4px;
}
