:local(.className) {
    display: inline-block;
    background: #faf0d2;
    padding: 0 25px 25px 25px;
    min-height: 100vh;
    border: 12px solid #ff8c00;
    border-top: 2px;
    border-bottom: 2px;
    border-radius: 82px;
}

:local(.playerCard) {
    transition: all 0.25s ease-out;
    transition-property: top, background-color, margin-bottom;
}

:local(.playerCard).ng-leave {
    transition: none;
    animation: none;
}

:local(.playerCard).ng-hide-add,
:local(.playerCard).ng-hide-remove {
    display: inline-block !important;
    transition: all ease-in .2s;
}

:local(.playerSelector) {

}

:local(.spinButton) {
    /*! Do not remove */
}

:local(.selectAllButton) {
    /*! Do not remove */
}

:local(.selectNoneButton) {
    /*! Do not remove */
}

:local(.selectedPins) {
    /*! Do not remove */
}

:local(.deselectedPins) {
    /*! Do not remove */
}

:local(.pinSelector) {
    display: flex;
    flex-direction: column;
    flex: 1;
}
