:local(.className) {
    display: inline-block;
    background: #faf0d2;
    padding: 0 25px 25px 25px;
    min-height: 100vh;
    border: 12px solid #ff8c00;
    border-top: 2px;
    border-bottom: 2px;
    border-radius: 82px;
}

:local(.playerCard) {
    transition: all 0.25s ease-out;
    transition-property: top, background-color, margin-bottom;
}

:local(.playerCard).ng-leave {
    transition: none;
    animation: none;
}

:local(.playerCard).ng-hide-add,
:local(.playerCard).ng-hide-remove {
    display: inline-block !important;
    transition: all ease-in .2s;
}

:local(.spinButton).button {
    margin-bottom: 10px;
    animation: 2s pulsate;
    animation-iteration-count: infinite;
}

:local(.selectAllButton) {
    margin-bottom: 10px;
}

:local(.selectNoneButton) {
    margin-bottom: 10px;
}

:local(.selectedPins) {
    margin: 5px
}

:local(.player-selector) {
    display: inline-block;
    border-radius: 20px;
    padding: 5px;
    margin: 5px 0;
    background-color: #fffbed;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}

:local(.deselectedPins) {
    margin: 2px;
    background: #de8286;
    display: inline-block;
    padding: 4px;
    border-radius: 15px;
}