:local(.className) {
    display: inline-block;
    overflow: hidden;
    padding-top: 75px;
}

:local(.welcome) {
    display: inline-block;
    vertical-align: top;
    border-radius: 82px;
    padding: 0 42px 18px;
    border: 24px solid darkorange;
    background-color: #faf0d2;
}

:local(.playerCard) {
    /* do not remove */
}

:local(.hidden) {
    /* do not remove */
}

:local(.className) {
    transition: all ease-out 4s;
    animation: 4s curious-tilt;
    animation-iteration-count: 1;
}

:local(.className):local(.hidden) {
    opacity: 0;
}

:local(.welcomeTitle) {
    margin-top: 0.5em;
    margin-bottom: 0.4em;
    font-size: 72px;
    font-weight: bold;
}

:local(.welcome) :local(.playerCard).left {
    position: relative;
    transform: rotate(-8deg);
}

:local(.welcome) :local(.playerCard).right {
    position: relative;
    transform: rotate(8deg);
}

:local(.welcomePair) {
    display: inline-flex;
}

:local(.welcomeProverb) {
    display: inline-block;
    border-radius: 15px;
    transform: rotate(0deg);
    padding: 4px;
    margin-top: 20px;
}

:local(.enterButtonContainer) {
    padding-top: 15px;
    padding-bottom: 50px;
    display: inline-block;
}

:local(.enterButtonContainer) :local(.enterButton) {
    margin-top: 20px;
}

:local(.enterButton):local(.hidden) {
    display: none;
}

:local(.enterButtonContainer) {
    animation: 2s pulsate;
    animation-iteration-count: infinite;
}

:local(.enterButtonContainer) .button {
    animation: 0.5s pulsate;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

:local(.enterButtonContainer):hover {
    animation-play-state: paused;
}

:local(.enterButtonContainer) .button:hover {
    animation-play-state: running;
}

:local(.welcome) :local(.playerCard).left {
    transition: all ease-out 4s;
    animation-duration: 4s;
    animation-name: slide-up-left;
    animation-iteration-count: 1;
}

:local(.welcome) :local(.playerCard).left {
    transition: all ease-out 0.25s;
}

:local(.welcome) :local(.playerCard).left:hover {
    transition: all ease-in 0.4s;
    z-index: 1;
    transform: rotate(0deg) scale(1.5);
}

:local(.welcome) :local(.playerCard).right {
    transition: all ease-out 5s;
    animation-duration: 5s;
    animation-name: slide-up-right;
    animation-iteration-count: 1;
}

:local(.welcome) :local(.playerCard).right {
    transition: all ease-out 0.25s;
}

:local(.welcome) :local(.playerCard).right:hover {
    transition: all ease-in 0.4s;
    z-index: 1;
    transform: rotate(0deg) scale(1.5);
}

:local(.welcomeProverb):local(.hidden) {
    opacity: 0;
}

:local(.welcomeProverb) {
    opacity: 1;
}

:local(.welcomeProverb) {
    transition-delay: 5s;
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: 1s;
}