div(class="player-roster")
   div
      div(class="roster-header")
         text(ng-show="players[0]") {{label}}:
      selectedplayercard(ng-repeat="player in players")
   a(id="add-player-button" class="large orange button" href="/{{tribe._id}}/player/new/") Add a new player!