:local(.className) {
    white-space: normal;
    display: block;
    margin: 5px;
    text-align: left;
}

:local(.className) tribecard {
    display: inline-block;
}

:local(.className) * {
    vertical-align: middle;
}

:local(.className) h1 {
    display: inline-block;
    margin: 0 20px;
    text-decoration: underline;
}

:local(.iconButtonText) {
    margin-left: 5px;
}

:local(.tribeSelectButton) {
    /*! Do not remove */
}

:local(.logoutButton) {
    /*! Do not remove */
}
