:local(.className) {
    white-space: normal;
    display: block;
    margin: 5px;
    text-align: left;
}

:local(.className) * {
    vertical-align: middle;
}

:local(.headerContents) {
    display: flex;
    align-items: baseline;
}

:local(.headerText) {
    flex-grow: 2;
}

:local(.controlButtons) {
    display: inline-block;
    margin: 0 20px;
}

:local(.iconButtonText) {
    margin-left: 5px;
}

:local(.tribeSelectButton) {
    /*! Do not remove */
}

:local(.logoutButton) {
    /*! Do not remove */
}
