:local(.className) {
    display: inline-block;
    background: #faf0d2;
    padding: 0 25px 25px 25px;
    min-height: 100vh;
    border: 12px solid #ff8c00;
    border-top: 2px;
    border-bottom: 2px;
    border-radius: 82px;
}

:local(.playerCard) {

}

.pair-assignments-header {
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 5px;
    padding-bottom: 6px;
}

#pair-assignments-content {
    white-space: pre-line;
}

.current.pair-assignments {
    display: inline-block;
}

.pair-assignments {
    border-radius: 20px;
    padding: 5px;
    margin: 5px 0;
    background-color: hsla(146, 17%, 80%, 1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.pair-assignments .on-drag-enter {
}

.pair-assignments .on-drag-hover {
    background-color: orange;
}

.pair-assignments :local(.playerCard) {
    display: inline-block;
    overflow: hidden;
}

.pair-assignments :local(.playerCard).hoverzoom:hover {
    transition: all ease-in 0.4s;
    z-index: 1;
    animation: 0.5s twitch;
    animation-iteration-count: infinite;
}


:local(.unpairedPlayerRoster) {
    display: inline-block;
    border-radius: 20px;
    padding: 10px;
    background-color: #f5c3b3;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

:local(.className) .call-sign {
    position: relative;
    font-size: large;
    padding: 8px;
    background: #c9d6bab8 url(../../../images/overlay.png) repeat-x;
    border-radius: 15px;
    border-width: 1px;
    border-style: dotted;
    border-color: black;
    font-weight: bold;
    z-index: 10;
}