.player-roster .player {
    transition: all 0.25s ease-out;
}

.player-roster .player.disabled {
    transition: all 0.25s ease-out;
}

.player-roster .player.ng-enter {
    transition: all 0.25s ease-out;
}

.player-roster .player.ng-leave {
    transition: none;
    animation: none;
}

.player-roster.ng-hide-add,
.player-roster.ng-hide-remove {
    display: inline-block !important;
    transition: all ease-in .2s;
}

.view-container {
    position: relative;
}

.view-frame.ng-enter, .view-frame.ng-leave {
    position: absolute;
}

.view-frame.ng-enter {
    animation: 1s spin-in;
    z-index: 100;
}

.view-frame.ng-leave {

}

.view-frame.ng-leave.ng-leave-active {
}

.pair-assignments .on-drag-hover {
    animation: .25s wiggle;
    animation-iteration-count: infinite;
}

.pair-assignments.ng-hide-add,
.pair-assignments.ng-hide-remove {
    display: inline-block !important;
    transition: all ease-in .2s;
}

.current.pair-assignments.ng-hide {
    animation: none;
    transition: none;
}

.current.pair-assignments.ng-hide-add {
    animation: none;
    transition: none;
}

.pair-assignments .ng-hide {
    display: inline-block;
    animation: none;
    opacity: 0;
}

.pair-assignments .ng-leave {
    animation: none;
}

@keyframes wiggle {
    0% {
        transform: rotate(4deg);
    }
    50% {
        transform: rotate(-4deg);
    }
    100% {
        transform: rotate(4deg);
    }
}

@keyframes spin-in {
    from {
        transform: scale(0);
        transform-origin: 50% 50%;
    }
    to {
        transform: scale(1);
        transform-origin: 0 0;
    }
}

@keyframes spin-out {
    from {
        transform: scale(1);
        transform-origin: 50% 50%;
    }
    to {
        transform: scale(0);
        transform-origin: 0% 0%;
    }
}