body {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: cadetblue;
  padding-top: 15px;
}

a {
  color: #00B7FF;
}

#welcome-body {
  text-align: center;
  padding-top: 75px;
}

#welcome-container {
  display: inline-block;
  overflow: hidden;
}

#welcome {
  display: inline-block;
  vertical-align: top;
  border-radius: 82px;
  padding: 0px 42px 42px;
  border: 24px outset darkorange;
  background-color: lightgoldenrodyellow;
}

.welcome-title {
  margin-top: 0.5em;
  margin-bottom: 0.4em;
  font-size: 72px;
  font-weight: bold;
}

#welcome .player.left {
  position: relative;
  transform: rotate(-8deg);
}

#welcome .player.right {
  position: relative;
  transform: rotate(8deg);
}

.welcome-pair {
  display: inline-flex;
}

.welcome-proverb {
  display: inline-block;
  border-radius: 15px;
  transform: rotate(0deg);
  padding: 4px;
  background: goldenrod url(../images/overlay.png) repeat-x;
}

#enter-button-container {
  padding-top: 35px;
  padding-bottom: 50px;
  display: inline-block;
}

.title {
  font-size: 2em;
  font-weight: bold;
}

#save-button {
  margin: 4px;
}

.background-element {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  #welcome {
    width: 366px;
    height: 334px;
  }
}

.pair-assignments-header {
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
  text-fill-color: white;
  text-stroke-width: 1.5px;
  text-stroke-color: black;
  border-radius: 15px;
  padding-left: 40px;
  padding-right: 5px;
  background: darkred url(../images/overlay.png) repeat-x;
}

.no-pairs-notice {
  border: 8px outset dimgray;
  background-color: aliceblue;
  display: inline-block;
  border-radius: 40px;
  font-size: xx-large;
  font-weight: bold;
  width: 500px;
  height: 150px;
  padding: 100px 5px 5px;
  margin: 0 2px 5px;
}

#pair-assignments-content {
  white-space: pre-line;
  .player-header {
    font-size: 20px;
  }
}

.roster-header {
  font-size: 1.5em;
  margin-before: 0.2em;
  margin-after: 0.58em;
  font-weight: bold;
}

#top-section {
  white-space: nowrap;
}

#top-section, .minimized {
  height: 400px;
}

#tribe-browser {
  white-space: normal;
  display: inline-block;
  vertical-align: top;
  border-radius: 20px;
  padding: 10px;
  border: 11px outset darkorange;
  background-color: lightgoldenrodyellow;
  margin: 15px;
}

#player-view {
  display: inline-block;
  .player {
    display: inline-block;
    vertical-align: top;
    border-radius: 20px;
    padding: 10px;
    border-width: 11px;
    width: 250px;
    height: 315px;
    .player-header {
      background: darkcyan url(../images/overlay.png) repeat-x;
      margin-top: 0;
      margin-bottom: 6px;
      border-radius: 20px;
      font-size: 1.5em;
      font-weight: bold;
    }
  }
  .save-button {
    float: left;
    top: 15px;
    left: -15px;
  }
  .delete-button {
    float: right;
    top: 20px;
    left: 15px;
  }
  input[type="text"] {
    width: 215px;
    font-size: large;
    border-radius: 20px;
    border-width: 4px;
    padding: 4px;
  }
  form div {
    label {
      background: darkcyan url(../images/overlay.png) repeat-x;
      border-radius: 20px;
      margin-top: 6px;
      margin-bottom: 6px;
      display: table;
      text-align: left;
      color: #ffffff;
      padding: 2px 15px 2px 18px;
      text-fill-color: initial;
      text-stroke-width: 1.5px;
      text-stroke-color: initial;

    }
    input {
      text-fill-color: black;
      text-stroke-width: 0;
    }
  }
}

.view-container {
  text-align: center;
}

.player-roster {
  display: inline-block;
  border-radius: 20px;
  padding: 10px;
  border: 11px outset tan;
  background-color: wheat;
}

.player {
  position: relative;
  clear: both;
  display: inline-block;
  border: 3px outset gold;
  background: darkseagreen url(../images/overlay.png) repeat-x;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  color: black;
  text-fill-color: white;
  text-stroke-width: 1.5px;
  text-stroke-color: black;
  font-size: x-large;
  margin: 0 2px 0 2px;
  height: 140px;
  width: 100px;
  .player-header {
    background: darkcyan url(../images/overlay.png) repeat-x;
    margin-before: 6px;
    margin-after: 6px;
    border-radius: 15px;
    font-weight: bold;
  }
  img {
    display: block;
  }
}

.player-roster {
  .player {
    top: 0;
    margin-bottom: 25px;
  }
  .disabled {
    top: 30px;
    background-color: darkred;
    margin-bottom: 0;
  }
}

.pair {
  border: 3px outset dimgray;
  background-color: aliceblue;
  padding: 5px;
  display: inline-block;
  border-radius: 40px;
  margin: 0 2px 0 2px;
}

.view-frame {
}

.current.pair-assignments {
  display: inline-block;
  margin: 15px;
}

.pair-assignments {
  border-radius: 20px;
  padding: 5px;
  margin: 5px 0;
  border: 11px outset brown;
  background-color: seagreen;
  .on-drag-enter {
  }
  .on-drag-hover {
    background-color: orange;
  }
}

#history-view {
  display: inline-block;
  .player {
    width: auto;
    height: auto;
  }
}

#history-view .header {
  display: inline-block;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  text-fill-color: white;
  text-stroke-width: 1.5px;
  text-stroke-color: darkred;
  font-size: xx-large;
  background: steelblue url(../images/overlay.png) repeat-x;
}

.tribe-frame {
  display: inline-block;
  border-radius: 82px;
  border: 24px outset rgb(94, 84, 102);
  background-color: rgb(115, 115, 115);
  padding: 0 42px 42px;
  .button {
    left: -7px;
    bottom: -14px;
  }
}

.tribe-listing {
  margin: -10px;
}

.tribe {
  display: inline-block;
  border-radius: 20px;
  padding: 10px;
  border: 11px outset #f5f5f5;
  background-color: lightsteelblue;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  color: black;
  text-fill-color: white;
  text-stroke-width: 1.5px;
  text-stroke-color: black;
  font-size: x-large;
  margin: 0 2px 4px 2px;
  width: 150px;
  height: 210px;
  img {
    -webkit-filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5));
  }
}

.pin {
  display: inline-block;
  border-radius: 20px;
  padding: 10px;
  border: 11px outset #f5f5f5;
  background-color: lightsteelblue;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  color: black;
  text-fill-color: white;
  text-stroke-width: 1.5px;
  text-stroke-color: black;
  font-size: x-large;
  margin: 0 2px 4px 2px;
  img {
    /*box-shadow: 0 2px 20px rgba(0, 0, 0, 0.6);*/
    -webkit-filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5));
  }
}

#pin-listing {
  input[type="text"] {
    width: 215px;
    font-size: large;
    border-radius: 20px;
    border-width: 4px;
    vertical-align: super;
    padding: 4px;
    text-fill-color: black;
    text-stroke-width: 0;
  }
  .pin-icon {
    width: 50px;
    height: 50px;
    padding: 5px;
  }
}

.pin-icon:before {
  content: "\f128";
}

.tribe-name {
  background: darkslategrey url("../images/overlay.png") repeat-x;
}

.tribe-name {
  font-weight: bold;
  margin-bottom: 15px;
  border-radius: 15px;
  text-fill-color: white;
  text-stroke-width: 1.5px;
  text-stroke-color: black;
}

.tribe-icon {
  margin: 10px;
  /*box-shadow: 0 2px 20px rgba(0, 0, 0, 0.6);*/
  -webkit-filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5));
}

#CouplingTitleBlock .tribe-icon {
  float: left;
}

.tribe-view {
  display: flex;
  padding-top: 25px;
  .tribe-icon {
    display: inline-block;
  }
  .tribe-editor {
    display: inline-block;
    vertical-align: top;
    text-fill-color: black;
    font-size: large;
    text-stroke-width: 1px;
    label {
      clear: both;
      float: left;
    }
    input[type="text"] {
      text-align: right;
      float: right;
      text-fill-color: black;
      text-stroke-width: 0;
      width: 150px;
      margin: 5px;
    }
    div {
      clear: both;
    }
  }
  input[type="button"] {
  }
}

input.button {
  border: 0;
}

.button {
  background: #222222 url(../images/overlay.png) repeat-x;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
  text-fill-color: initial;
  text-stroke-width: initial;
  text-stroke-color: initial;
  margin: 2px;
  &:visited {
    background: #222222 url(../images/overlay.png) repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    position: relative;
    cursor: pointer;
    text-fill-color: initial;
    text-stroke-width: initial;
    text-stroke-color: initial;
    margin: 2px;
  }
}

.small.button {
  font-size: 11px;
  &:visited {
    font-size: 11px;
  }
}

.button, .medium.button {
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  &:visited {
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  }
}

.large.button {
  font-size: 14px;
  padding: 8px 14px 9px;
  &:visited {
    font-size: 14px;
    padding: 8px 14px 9px;
  }
}

.super.button {
  font-size: 34px;
  padding: 8px 14px 9px;
  &:visited {
    font-size: 34px;
    padding: 8px 14px 9px;
  }
}

.pink.button, .magenta.button:visited {
  background-color: #e22092;
}

.pink.button:hover {
  background-color: #c81e82;
}

.green.button {
  background-color: #91bd09;
  &:visited {
    background-color: #91bd09;
  }
  &:hover {
    background-color: #749a02;
  }
}

.red.button {
  background-color: #e62727;
  &:visited {
    background-color: #e62727;
  }
  &:hover {
    background-color: #cf2525;
  }
}

.orange.button {
  background-color: #ff5c00;
  &:visited {
    background-color: #ff5c00;
  }
  &:hover {
    background-color: #d45500;
  }
}

.blue.button {
  background-color: #2981e4;
  &:visited {
    background-color: #2981e4;
  }
  &:hover {
    background-color: #2575cf;
  }
}

.yellow.button {
  background-color: #ffb515;
  &:visited {
    background-color: #ffb515;
  }
  &:hover {
    background-color: #fc9200;
  }
}
