div
    div(id="tribe-browser")
        tribecard(id="tribe-card" tribe="playerConfig.tribe")
    span(id="player-view")
        span(class="player")
            form(name="playerForm")
                div
                    label(for="player-name") Name
                    input(id="player-name" type="text" ng-model="playerConfig.player.name")
                div
                    label(for="player-email") Email
                    input(id="player-email" type="text" ng-model="playerConfig.player.email")
                div(ng-show="playerConfig.tribe.badgesEnabled" class="badge-config")
                    div
                        label(for="default-badge-radio") {{playerConfig.tribe.defaultBadgeName}}
                        input(id="default-badge-radio" type="radio" ng-model="playerConfig.player.badge" ng-value="Badge.Default")
                    div
                        label(for="alt-badge-radio") {{playerConfig.tribe.alternateBadgeName}}
                        input(id="alt-badge-radio" type="radio" ng-model="playerConfig.player.badge" ng-value="Badge.Alternate")
                input(id="save-player-button" type="submit" class="large blue button save-button" ng-click="playerConfig.savePlayer()" tabIndex="0" value="Save")
                div(ng-show="playerConfig.player._id" class="small red button delete-button" ng-click="playerConfig.removePlayer()") Retire
        playercard(player="playerConfig.player" size="250")
player-roster(class="player-roster" players="playerConfig.players" tribe="playerConfig.tribe")