:local(.className) {
    margin: 15px;
    display: inline-block;
    background: hsla(45, 80%, 96%, 1);
    padding: 0 25px 25px 25px;
    min-height: 100vh;
    border: 12px solid black;
    border-top: 2px;
    border-bottom: 2px;
    border-radius: 82px;
    text-align: left;
}

:local(.className) > div {
    margin-top: 30px;
}

:local(.tribeBrowser) {
    white-space: normal;
    display: inline-block;
    vertical-align: top;
    border-radius: 20px;
    padding: 0 10px;
}

:local(.playerView) {
    display: inline-block;
}

:local(.playerView) :local(.player) {
    vertical-align: top;
    padding: 0 10px;
}

:local(.saveButton) {
    float: left;
    top: 15px;
    left: -15px;
}

:local(.deleteButton) {
    float: right;
    top: 20px;
    left: 15px;
}

:local(.playerView) input[type=text] {
    width: 215px;
    font-size: large;
    border-radius: 20px;
    border-width: 4px;
    padding: 4px;
}

:local(.playerView) :local(.badgeConfig) > div {
    display: inline-block;
}

:local(.playerRoster) {
    display: inline-block;
    border-radius: 20px;
    padding: 10px;
    border: 11px outset tan;
    background-color: wheat;
}

:local(.playerRoster) :local(.player) {
    top: 0;
    margin-bottom: 25px;
}

:local(.player) {
    position: relative;
    clear: both;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
}