:local(.pairReportTable) {
    display: inline-block;
    text-align: left;
}

:local(.pairReport) {
    border: 2px solid #ffffe6;
    border-radius: 5px;
    background: #ffffe6;
    margin: 2px;
}

:local(.statsHeader) {
    font-weight: bold;
    font-size: large;
    margin-bottom: 5px;
}

:local(.pairStatistics) {
    display: inline-block;
    vertical-align: top;
    margin: 8px;
}

:local(.teamStatistics) {
    display: inline-block;
    vertical-align: top;
    margin: 8px;
    padding: 10px;
    border: 2px solid #ffffe6;
    border-radius: 5px;
    background: #ffffe6;
}

:local(.statLabel) {
    margin-right: 5px;
}

:local(.statsPage) {
    text-align: left;
    display: inline-block;
}
:local(.inlineSection) {
    display: inline-block;
    vertical-align: top;
}