:local(.pairReportTable) {
    display: inline-block;
    text-align: left;
}

:local(.statsPage) heatmap {
    display: inline-block;
    vertical-align: top;
}

:local(.spacer) {
    display: inline-block;
    width: 62px;
}

:local(.heatmapPlayersTopRow) playercard {
    width: 90px;
    display: inline-block;
    text-align: center;
}

:local(.heatmapPlayersSideRow) {
    display: inline-block;
}

:local(.heatmapPlayersSideRow) playercard {
    height: 90px;
    display: block;
}

:local(.heatmapPlayersSideRow) playercard > div {
    vertical-align: middle;
}

:local(.pairReport) {
    border: 2px solid #ffffe6;
    border-radius: 5px;
    background: #ffffe6;
    margin: 2px;
}

:local(.statsHeader) {
    font-weight: bold;
    font-size: large;
    margin-bottom: 5px;
}

:local(.pairStatistics) {
    display: inline-block;
    vertical-align: top;
    margin: 8px;
}

:local(.teamStatistics) {
    display: inline-block;
    vertical-align: top;
    margin: 8px;
    padding: 10px;
    border: 2px solid #ffffe6;
    border-radius: 5px;
    background: #ffffe6;
}

:local(.statLabel) {
    margin-right: 5px;
}

:local(.statsPage) {
    text-align: left;
    display: inline-block;
}

:local(.leftSection) {
    display: inline-block;
    vertical-align: top;
}

:local(.rightSection) {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

:local(.activePlayerCount) {
    
}

:local(.medianSpinDuration) {

}