:local(.className) {
    display: inline-block;
    border-style: outset;
    border-color: #f5f5f5;
    background-color: lightsteelblue;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    color: black;
    margin: 0 2px 4px 2px;
}

:local(.className) img {
    -webkit-filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5));
    z-index: 0;
}

:local(.header) {
    background: hsla(212, 37%, 95%, 0.85) url(../overlay.png) repeat-x;
    font-weight: bold;
    z-index: 100;
    position: relative;
}

:local(.header) a {
    color:inherit;
    text-decoration:none;
}

:local(.header) {
    transition: background ease-out 0.4s;
}
