:local(.className) {
    white-space: normal;
    display: block;
    margin: 5px;
    text-align: left;
}

:local(.headerContents) {
    display: flex;
    align-items: baseline;
}

:local(.headerText) {
    flex-grow: 2;
}
