<!DOCTYPE html>
<html>
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="https://kit.fontawesome.com/fa6ae47dd3.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.23.0/theme/dracula.css" />

    <meta name="viewport" content="width=device-width">
    <meta name="slack-app-id" content="A05BY5PN3J4">
    <meta name="description" content="Coupling is a webapp for teams that use pair programming. It suggests pairs that haven't worked together in a long time, shows history of who's worked with who, and generally makes the plan visible, all with a silly tone.">

    <meta name="author" content="Rob Murdock">
    <meta property="og:title" content="Coupling! An app for pairs." />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/app/build/images/logo.png" />
    <meta property="og:image:width" content="246" />
    <meta property="og:image:height" content="172" />
    <meta property="og:site_name" content="Coupling! An app for pairs." />
    <meta property="og:description" content="Coupling is a webapp for teams that use pair programming. It suggests pairs that haven't worked together in a long time, shows history of who's worked with who, and generally makes the plan visible, all with a silly tone." />

    <script>var iosDragDropShim = {enableEnterLeave: true};</script>

    <script type="importmap">
        {
          "imports":  <%- JSON.stringify(htmlWebpackPlugin.options.cdnImportMap) %>
        }
    </script>
    <script type="module">
        <% for (const key in htmlWebpackPlugin.options.cdnSettings) { %>
            <% const value = htmlWebpackPlugin.options.cdnSettings[key] %>
            import * as <%= value %> from "<%= key%>";
            window['<%= value %>'] = <%= value %>;
        <% } %>

        <% if (htmlWebpackPlugin.options.window) { %>
            <% for (var varName in htmlWebpackPlugin.options.window) { %>
                window['<%=varName%>'] = <%= JSON.stringify(htmlWebpackPlugin.options.window[varName]) %>;
            <% } %>
        <% } %>
    </script>
    <% if (htmlWebpackPlugin.options.window) { %>
    <script>
      <% for (var varName in htmlWebpackPlugin.options.window) { %>
        window['<%=varName%>'] = <%- JSON.stringify(htmlWebpackPlugin.options.window[varName]) %>;
      <% } %>
    </script>
    <% } %>
    <%- htmlWebpackPlugin.tags.headTags %>
</head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-F28M9PKERE"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-F28M9PKERE');
</script>
<body>

<% if (htmlWebpackPlugin.options.appMountClass) { %>
<div class="<%= htmlWebpackPlugin.options.appMountClass%>"></div>
<% } %>
    <%= htmlWebpackPlugin.tags.bodyTags %>
</body>
</html>
