<!DOCTYPE html>
<html>
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.23.0/theme/dracula.css" />
    <meta name="viewport" content="width=device-width">
    <script>var iosDragDropShim = {enableEnterLeave: true};</script>

    <% if (htmlWebpackPlugin.options.window) { %>
    <script>
      <% for (var varName in htmlWebpackPlugin.options.window) { %>
        window['<%=varName%>'] = <%= JSON.stringify(htmlWebpackPlugin.options.window[varName]) %>;
      <% } %>
    </script>
    <% } %>

</head>
<body>

<% if (htmlWebpackPlugin.options.appMountClass) { %>
<div class="<%= htmlWebpackPlugin.options.appMountClass%>"></div>
<% } %>
</body>
</html>
