div(ng-class="loginChooser.styles.className")
    div
        div(ng-click="loginChooser.googleSignIn()" class="google-login super white button") Google
    div
        div(ng-click="loginChooser.microsoftSignIn()" class="ms-login super blue button") Microsoft
