:local(.className) {
    display: inline-block;
    border-radius: 20px;
    padding: 5px;
    margin: 5px 0;
    background-color: hsla(146, 17%, 80%, 1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

:local(.noPairsNotice) {
    border: 8px outset dimgray;
    background-color: aliceblue;
    display: inline-block;
    border-radius: 40px;
    font-size: xx-large;
    font-weight: bold;
    width: 500px;
    height: 150px;
    padding: 100px 5px 5px;
    margin: 0 2px 5px;
}

:local(.pairAssignmentsContent) {
    white-space: pre-line;
}

:local(.saveButton) {
    margin: 4px;
}

