:local(.className) {
    /*! Do not remove */
}

:local(.hoverZoom):hover {
    transition: all ease-in 0.2s;
    transform: rotate(0deg);
    animation: 0.5s twitch;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
}

:local(.className):local(.onDragHover) {
    background-color: orange;
    animation: .25s wiggle;
    animation-iteration-count: infinite;
}
