:local(.className) {
    display: inline-block;
}

:local(.hoverZoom):hover {
    transition: all ease-in 0.4s;
    z-index: 1;
    animation: 0.5s twitch;
    animation-iteration-count: infinite;
}

:local(.className) :local(.onDragHover) {
    background-color: orange;
    animation: .25s wiggle;
    animation-iteration-count: infinite;
}
