:local(.tribeBrowser) {
    white-space: normal;
    display: inline-block;
    vertical-align: top;
    border-radius: 20px;
    padding: 10px;
    border: 11px outset darkorange;
    background-color: lightgoldenrodyellow;
    margin: 15px;
}

:local(.historyView) {
    display: inline-block;
}

:local(.historyView) :local(.player) {
    width: auto;
    height: auto;
}

:local(.historyView) :local(.header) {
    display: inline-block;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    text-fill-color: white;
    text-stroke-width: 1.5px;
    text-stroke-color: darkred;
    font-size: xx-large;
    background: steelblue url(../overlay.png) repeat-x;
}

:local(.player) {
    position: relative;
    clear: both;
    display: inline-block;
    overflow: hidden;
    border: 3px outset gold;
    background: darkseagreen url(../overlay.png) repeat-x;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    color: black;
    margin: 0 2px 0 2px;
}

:local(.player) :local(.playerHeader) {
    background: darkcyan url(../overlay.png) repeat-x;
    margin-before: 6px;
    margin-after: 6px;
    border-radius: 15px;
    font-weight: bold;
}

:local(.deleteButton) {
    /*! Do not remove */
}

:local(.pairAssignments) {
    border-radius: 20px;
    padding: 5px;
    margin: 5px 0;
    background-color: hsla(146, 17%, 80%, 1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

:local(.pair) {
    border: 3px double dimgray;
    background-color: aliceblue;
    padding: 5px;
    display: inline-block;
    border-radius: 40px;
    margin: 0 2px 0 2px;
}

:local(.pairAssignmentsHeader) {
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 5px;
    padding-bottom: 6px;
}