:local(.className) {
    display: inline-block;
    min-height: 100vh;
    padding: 0 25px 25px 25px;
    border-style: solid;
    border-width: 2px 12px;
    border-radius: 82px;

    border-color: #ff8c00;
    background: #faf0d2;
}

:local(.unpairedPlayerRoster) {
    display: inline-block;
    border-radius: 20px;
    padding: 10px;
    background-color: #f5c3b3;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

:local(.newPairsButton) {
    /*! Do not remove */
}

:local(.copyToClipboardButton) {
    /*! Do not remove */
}
