:local(.className) {
    margin: 15px;
    display: inline-block;
    background: hsla(45, 80%, 96%, 1);
    padding: 25px 25px 25px 25px;
    min-height: 100vh;
    border: 12px solid black;
    border-top: 2px;
    border-bottom: 2px;
    border-radius: 82px;
    text-align: left;
}

:local(.tribeBrowser) {
    white-space: normal;
    float: left;
    display: inline-block;
    vertical-align: top;
    border-radius: 20px;
    padding: 10px;
    border: 11px outset darkorange;
    background-color: lightgoldenrodyellow;
    margin-right: 15px;
    margin-bottom: 15px;
}