name: Autorebase
on:
  push:
    branches-ignore:
      - rebase-pull-request**
      - cherry-pick-rebase-pull-request**
  pull_request:
    types: [ labeled ]

jobs:
  auto-rebase:
    name: AutoRebase
    runs-on: ubuntu-latest
    steps:
      - name: Auto rebase
        uses: MoveLab-Studio/AutoRebase@v0.1.10
        with:
          github_token: ${{ secrets.COUPLING_PAT }}
